{%- if site.template.widgets contains "share" -%}
<div class = "rightElem rightBtns wxshare">
    
    {% include functions/get_share.html %}


    <a class = "btn nf nf-mdi-instagram" target = "_blank" href = "https://www.instagram.com/blue.sageblog">
    </a>

    <a class = "btn nf nf-mdi-github_circle" target = "_blank" href = "https://github.com/PhuongFX">
    </a>


    <a class = "btn nf nf-mdi-sim" target = "_blank" href = "https://github.com/PhuongFX">
    </a>


    <a class = "btn nf nf-mdi-matrix" target = "_blank" href = "https://linktr.ee/blue.sage">
    </a>

    <a class = "btn nf nf-mdi-at" target = "_blank" href = "mailto:work@r-tu.com">
    </a>
    
</div>

<style>
    @media screen and (max-width: 650px){
        .wxshare{
            display: none;
        }
    }
</style>
{%- endif -%}
