---
layout: post
widgets: 
  - colophon
  - related_sites
  - share
  - global_cmt
---
<div style = "display: flex; flex-direction: column; min-height: 100%;">
<div id = "aboutBanner">
    <img class = "avatar" src = "{{ page.avatar }}"/>

    <div id = "a-intro">
        <h1>{{ page.heading }}</h1>

        <span>{{ page.intro | default:site.description }}</span>

        {%- for attr in page.attrs -%}
        <div>
            <span><i class = "nf {{ attr.icon }}"></i> {{ attr.first[0] }}: </span>
            <span>{{ attr.first[1] }}</span>
        </div>
        {%- endfor -%}

        <div id = "a-links">

            <a class = "btn nf nf-mdi-instagram" href = "{{ page.instaAddr }}">
            </a>
          
            <a class = "btn nf nf-mdi-github_circle" href = "{{ page.githubAddr }}">
            </a>

            <a class = "btn nf nf-mdi-gmail" href = "{{ page.gmAddr }}">
            </a>

            <a class = "btn nf nf-mdi-at" href = "{{ page.iAddr }}">
            </a>

        </div>
    </div>
</div>

{{ content }}

</div>
