---
layout: post
widgets: 
  - colophon
  - related_sites
  - share
  - global_cmt
---
<div style = "display: flex; flex-direction: column; min-height: 100%;">
<div id = "aboutBanner">
    <img class = "avatar" src = "{{ page.avatar }}"/>

    <div id = "a-intro">
        <h1>{{ page.heading }}</h1>

        <span>{{ page.intro | default:site.description }}</span>

        {%- for attr in page.attrs -%}
        <div>
            <span><i class = "nf {{ attr.icon }}"></i> {{ attr.first[0] }}: </span>
            <span>{{ attr.first[1] }}</span>
        </div>
        {%- endfor -%}

        <div id = "a-links">

            <a class = "btn nf nf-mdi-instagram" href = "{{ page.instaAddr }}">
            </a>
          
            <a class = "btn nf nf-mdi-github_circle" href = "{{ page.githubAddr }}">
            </a>

            <a class = "btn nf nf-mdi-sim" href = "{{ page.gmAddr }}">
            </a>

            <a class = "btn nf nf-mdi-matrix" href = "{{ page.matrixAddr }}">
            </a>

            <a class = "btn nf nf-mdi-at" href = "{{ page.aAddr }}">
            </a>

            <a class="btn nf my-svg-icon" target="_blank" href="https://linktr.ee/blue.sage">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                <path fill="currentColor" d="m13.736 5.853l4.005-4.117l2.325 2.38l-4.2 4.005h5.908v3.305h-5.937l4.229 4.108l-2.325 2.334l-5.74-5.769l-5.741 5.769l-2.325-2.325l4.229-4.108H2.226V8.121h5.909l-4.2-4.004l2.324-2.381l4.005 4.117V0h3.472zm-3.472 10.306h3.472V24h-3.472z"/>
              </svg>
            </a>
          
        </div>
    </div>
</div>

{{ content }}

</div>
